/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache

public/campaign_assets/photos/*
!public/campaign_assets/photos/.gitkeep
!public/campaign_assets/photos/wecare-default-campaign-foto-*

public/campaign_assets/qr_codes/*
!public/campaign_assets/qr_codes/.gitkeep
!public/campaign_assets/qr_codes/qr-code-default.png

uploads/incomes/*
!uploads/incomes/.gitkeep

uploads/outcome_evidences/*
!uploads/outcome_evidences/.gitkeep

uploads/tmp/*
!uploads/tmp/.gitkeep
